@import "tailwindcss";

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: linear-gradient(to bottom, #f8c9c9, #e0e0e0);
  background-size: cover;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}

.button {
  @apply cursor-pointer inline-flex items-center justify-center px-2 py-1 bg-linear-to-r from-blue-600 to-purple-600 text-white font-medium rounded-lg shadow-md hover:from-blue-700 hover:to-purple-700 focus:outline-hidden focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transform hover:scale-105 active:scale-95 transition-all duration-200 disabled:opacity-50 disabled:cursor-not-allowed;
}

.bg-primary {
  @apply bg-slate-900;
}

.hover\:bg-primary-dark:hover {
  @apply bg-slate-800;
}

.bg-card {
  background-color: #ffffffa6;
}

@keyframes todoDone {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.knowledge-item {
  @apply font-bold transition duration-300 hover:translate-x-1;
}
